<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
    <div class="container d-flex  flex-md-row justify-content-between">
        <a class="navbar-brand" routerLink="/login"><i class="fa-regular fa-circle-user"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active " routerLinkActive="active">
                    <a class="nav-link" routerLink="/">Calendrier</a>
                  </li>
                  <li class="nav-item active " routerLinkActive="active">
                    <a class="nav-link"  routerLink="/listallevents">On va où? </a>
                  </li>
                  <li class="nav-item active " routerLinkActive="active">
                    <a class="nav-link"  routerLink="/listallevents">On fait quoi? </a>
                  </li>
                  <li class="nav-item active" routerLinkActive="active">
                    <a class="nav-link"  routerLink="/training">Comment  on joue? </a>
                  </li>
                  <li class="nav-item active " routerLinkActive="active">
                    <a class="nav-link"  routerLink="/history">On était où? </a>
                  </li>
              <li class="nav-item active " routerLinkActive="active">
                <a class="nav-link"  routerLink="/admin">Admin </a>
              </li>

            </ul>
            <a class="navbar-brand" routerLink="/"><img align = "right" style = "width: 20%" src= "../assets/pinte.jpg"></a>
          </div>
      </div>

</nav>
