<nav class="navbar navbar-expand-md fixed-bot navbar-light bg-light">
  <div class="container d-flex  flex-md-row justify-content-between">
  <div class="row"> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footer" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="footer">
    <div class="col-6 col-md">
            <a class="navbar-brand" routerLink="/"><img style = "width: 30%" align = "center" src= "../assets/pinte.jpg"></a>
      <small class="d-block mb-3 text-muted">© 2022</small>
    </div>
    <div class="col-6 col-md" align = "center">
      <h4 >La pinte d'Amaury</h4>
      <ul><a class="btn btn-link btn-floating  text-dark m-1" href="https://www.facebook.com/groups/1653572921562258/" role="button" data-mdb-ripple-color="dark">
        <i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-link text-dark  m-1" align = "right" href="https://www.instagram.com/p/BrHrOJDhCLx/?hl=fr" role="button"  data-mdb-ripple-color="dark">
        <i class="fab fa-instagram"></i></a>
      </ul>
      <ul> <a href="mailto:jpmarque@hotmail.com" >
        <button class="button">Contact</button></a>
      </ul>
    </div>

    <div class="col-6 col-md" align = "right">
      <h4>Le Rugby</h4>
      <ul class="list-unstyled text-small" >
        <li><a class="text-muted" href="https://www.rugby-ffse.fr/saison-2022-2023/d2/">FFSE</a></li>
        <li><a class="text-muted" href="https://www.ffr.fr/">FFR</a></li>
        <li><a class="text-muted" href="https://www.ffr.fr/jouer-au-rugby/reglements-sportifs/regles-du-rugby">Les règles</a></li>
        <li><a class="text-muted" href="https://fr.wikipedia.org/wiki/Rugby_%C3%A0_XV">Wikipedia</a></li>
      </ul>
    </div>
    </div>

  </div>
  </div>
</nav>
