<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark" >
      <tr>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">E-mail</th>
        <th scope="col">Numéro de téléphone</th>
        <th scope="col">Date de naissance</th>
        <th scope="col">Adresse</th>
        <th scope="col">Matchs joués cette saison</th>
        <th scope="col">Date de validité du certificat médical</th>
        <th scope="col">Date début de validité de la licence</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let member of listMembers">
        <td *ngIf="member.refusalDate === null">{{ member.firstName }}</td>
        <td *ngIf="member.refusalDate === null">{{ member.lastName }}</td>
        <td *ngIf="member.refusalDate === null">{{ member.mail }}</td>
        <td *ngIf="member.refusalDate === null">{{ member.phoneNumber }}</td>
        <td *ngIf="member.refusalDate === null">{{ member.birthdate }}</td>
        <td *ngIf="member.refusalDate === null">{{ member.adress }}</td>
        <td *ngIf="member.refusalDate === null">{{ member.gamesPlayedThisSeason }}</td>
        <td *ngIf="member.refusalDate === null">{{ member.dateMedicalCertificate }}</td>
        <td *ngIf="member.refusalDate === null">{{ member.thisYearLicenceDate }}</td>
        <td *ngIf="member.validationDate === null && member.refusalDate === null"><button (click)="accept(member)" >Accepter<br/></button><div><br/></div><button (click)="refuse(member)">Refuser</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
