img {
  height: 310px;
  float: left;
  width: auto;
}
.text{position: relative;
    top: 50%;
    float: left;
    transform: rotate(45deg);
    font-size: larger}

.texti{position: relative;
    top: 50%;
    transform: rotate(315deg);
    float: right;
    font-size: larger}


.right{float: right!important;}
