<main class="container">
  <div class="row mb-2">
    <div >
      <img   src= "../assets/touche.jpg">
      <a class="text"  routerLink="/touches">Les touches </a>
    </div>
  </div>
  <div class="row mb-2" >
    <div >
      <div class="right">
        <img   src= "../assets/combi.jpg">
      </div>
      <div class="texti">
        <a routerLink="/back">Les combinaisons des 3/4 </a>
    </div>
    </div>
  </div>
  <div class="row mb-2">
    <div >
    <img   src= "../assets/gros.jpg">
      <a class="text" routerLink="/fat">Le travail des avants </a>
    </div>
    </div>
</main>
