<section class="vh-50 gradient-custom">
    <div class="container py-5 h-100 ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-  5">
          <div class="card bg-dark text-white lasizedelouis" style="border-radius: 1rem;">
            <div class="card-body p-3 text-center ">

              <form class="mb-md-5 mt-md-4 pb-5" (ngSubmit)="loginUser()" #loginForm="ngForm">

                <h2 class="fw-bold mb-2 text-uppercase">CONNEXION</h2>
                <p class="text-white-50 mb-5">Veuillez entrer adresse mail et mot de passe!</p>

                <div>
                  <input type="text" name="username" class="form-control form-control-lg" [(ngModel)]="username"
                         #validateUsername="ngModel" autofocus required/>
                  <label class="form-label" >Email</label>
                </div>

                <div>
                  <input type="password" name="password"  class="form-control form-control-lg" [(ngModel)]="password"
                          #validatePassword="ngModel" required/>
                  <label class="form-label" >Mot de passe</label>
                </div>

                <br><p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Mot de passe oublié?</a></p>

                <button class="btn btn-outline-light btn-lg px-5" type="submit">Connexion</button>

                <div class="d-flex justify-content-center text-center mt-4 pt-1">
                  <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg mx-4 px-2"></i></a>
                  <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                </div>
              </form>
              <div >
                <p class="mb-0">Pas encore de compte? <a href="#!" class="nav-link" routerLink="/register" class="text-white-50 fw-bold">S'inscrire</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
