<br><div class=""container py-3>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm border-primary">
      <div class="card-header py-3 text-bg-primary border-primary">
        <h4 class="my-0 fw-normal">Calendrier matchs</h4>
      </div>
      <div class="card-body">
        <font size="4" >Permet de créer,modifier ou tenir à jours les résultats d'un match, de consulter l'inscription des joueurs aux matchs, ainsi que de valider leur présence.  <br></font>
        <br><button type="button" class="w-100 btn btn-lg btn-primary" routerLink="/matchs">Accès à la gestion des matchs</button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm border-primary">
      <div class="card-header py-3 text-bg-primary border-primary">
        <h4 class="my-0 fw-normal">Calendrier Evénements</h4>
      </div>
      <div class="card-body">
        <font size="4" >Permet de créer ou modifier un événement, ainsi que de tenir à jour les inscrits et les participants aux événement. <br></font><br>
        <br><button type="button" class="w-100 btn btn-lg btn-primary" routerLink="/calendarsevent">Accès à la gestion des événements</button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm border-primary">
      <div class="card-header py-3 text-bg-primary border-primary">
        <h4 class="my-0 fw-normal">Suivi membres</h4>
      </div>
      <div class="card-body">
        <font size="4" >Permet de consulter la liste des inscrits à l'association, valider ou refuser des demandes, et tenir à jour les certificats médicaux et la licences. <br> </font>
        <br><button type="button" class="w-100 btn btn-lg btn-primary" routerLink="/members">Accès à la gestion des membres</button>
      </div>
    </div>
  </div>
</div>
</div>
