<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark" >
      <tr>
        <th scope="col">Equipe jouée</th>
        <th scope="col">Date</th>
        <th scope="col">Point marqués</th>
        <th scope="col">Points encaissés</th>
        <th scope="col">Points bonus</th>
        <th scope="col">Valider joueurs</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let match of listMatches">
        <td>{{ match.team }}</td>
        <td>{{ match.effectiveStartDate }}</td>
        <td>{{ match.pointScored }}</td>
        <td>{{ match.pointTaken }}</td>
        <td>{{ match.bonusPoint }}</td>
        <td><button style="margin: 2px; padding: 3px"
                    type="button"
                    class="btn btn-secondary"
                    (click)="openPopup(match)">Valider joueurs</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Validation des joueurs</h4>
      </div>
      <div class="modal-body">

        <div class="card my-5">
          <div class="card-body">
            <table class="table table-bordered table-striped">
              <thead class="thead-dark" >
              <tr>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let player of listPlayers;">
                <td >{{ player.firstName }}</td>
                <td >{{ player.lastName }}</td>
                <td class="form"><button class="form"  (click)="accept(player)"  >Accepter</button></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"
                (click)="closePopup()">
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>
