<section class="vh-50 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Inscription</h2><br>
  
                <div class="form-outline form-white mb-4">
                    <label class="form-label" for="typeEmailX">Email</label>
                  <input type="email" id="typeEmailX" class="form-control form-control-lg" placeholder="Email"/>
                </div>
  
                <div class="form-outline form-white mb-4">
                    <label class="form-label" for="typePasswordX">Mot de passe</label>
                  <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                </div>

                <div class="form-outline form-white mb-4">
                    <label class="form-label" for="typePassword">Confirmez le mot de passe</label>
                    <input type="password" id="typePassword" class="form-control form-control-lg" />
                  </div>

                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="nameX">Nom</label>
                    <input type="text" id="nameX" class="form-control form-control-lg" />
                  </div>

                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="firstNameX">Prénom</label>
                    <input type="text" id="firstNameX" class="form-control form-control-lg" />
                  </div>

                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="birthdateX">Date de naissance</label>
                    <input type="date" id="birthdateX" class="form-control form-control-lg" />
                  </div>

                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="postalCodeX">Code Postal</label>
                    <input type="text" id="postalCodeX" class="form-control form-control-lg" />
                  </div>

                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="phoneNumberX">Téléphone</label>
                    <input type="text" id="phoneNumberX" class="form-control form-control-lg" />
                  </div>
  
  
               <br> <button class="btn btn-outline-light btn-lg px-5" type="submit">Valider</button>  
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>