<section class="vh-50 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <form class="mb-md-5 mt-md-4 pb-5" (ngSubmit)="registerUser()" #loginForm="ngForm">

              <h2 class="fw-bold mb-2 text-uppercase">Inscription</h2>
              <p class="text-white-50 mb-5">Veuillez entrer vos informations.</p>

              <div>
                <input type="text" name="username" class="form-control form-control-lg" [(ngModel)]="username"
                       #validateUsername="ngModel" autofocus required placeholder="Email"/>
              </div>

              <div><br>
                <input type="password" name="password" class="form-control form-control-lg" [(ngModel)]="password"
                       #validatePassword="ngModel" placeholder="Mot de passe"/>
              </div>
              <div><br>
                <input type="password" class="form-control form-control-lg" placeholder="Confirmez le mot de passe" />
              </div>
              <div><br>
                <input type="text" name="firstname"  class="form-control form-control-lg" [(ngModel)]="firstname"
                       #validatePassword="ngModel" placeholder="Prénom"/>
              </div>
              <div><br>
                <input type="text" name="lastname" class="form-control form-control-lg" [(ngModel)]="lastname"
                       #validatePassword="ngModel" placeholder="Nom"/>
              </div>
              <div><br>
                <input type="text" name="phonenumber"  class="form-control form-control-lg" [(ngModel)]="phonenumber"
                       #validatePassword="ngModel" placeholder="Numéro de téléphone"/>

              </div>
              <div><br>
                <input type="date" name="birthdate" class="form-control form-control-lg" [(ngModel)]="birthdate"
                       #validatePassword="ngModel" />
                <label class="form-label" >Date de naissance</label>
              </div>

              <br><br>
              <button class="btn btn-outline-light btn-lg px-5" type="submit">Inscription</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
