<div class="ff">
  <img src="../assets/photopa.jpg" >
  </div>
<br>
<div class="ff">
  <img src="../assets/calendar.jpg" >
</div>
<div class="ff">
  <h2>Qui sommes nous?</h2>
  <p>La Pinte d'Amaury est née de la fusion d'Amaury et du XV de la Pinte lors de la saison 2018-2019!
    </p>
  <h2>Entrainement</h2>
  <p>Les entrainements ont lieu tous les lundis à 19h, au stade de la Tour-à-Parachutes 7 avenue de la porte de choisy, Paris 13e.
  </p>
</div>

